# Data structures in Python
1. A data structure is a collection of data in different formats
2. 5 types of data structures in Python
   1. String - a string is a collection of data in single quotes or double quotes,'' or ""
   2. lists - a list is a collection of elements enclosed by [ ]
   3. Tuples - a tuple is a collection of elements enclosed by ()
   4. dictionaries - a collection of items enclosed by{}
   5. sets - a collection of elements enclosed by{}

In [1]:
#string
info = "welcome world"
data = 'welcome to tia'
print(info)
print(data)
print(type(info))
print(type(data))

welcome world
welcome to tia
<class 'str'>
<class 'str'>

In [5]:
#lists
names = ["PRIYAAAAAA","kundana","roopa"]
ages = [25,26,27]
salary = [10000.25,12000.3,130000]
print(names)
print(ages)
print(salary)
print(type(names))
print(type(ages))
print(type(salary))

['PRIYAAAAAA', 'kundana', 'roopa']
[25, 26, 27]
[10000.25, 12000.3, 130000]
<class 'list'>
<class 'list'>
<class 'list'>

In [7]:
#tuples
names = ("PRIYAAAAAA","kundana","roopa")
ages = (25,26,27)
salary = (10000.25,12000.3,13000.0)
print(names)
print(ages)
print(salary)
print(type(names))
print(type(ages))
print(type(salary))

('PRIYAAAAAA', 'kundana', 'roopa')
(25, 26, 27)
(10000.25, 12000.3, 13000.0)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
# dictionaries (dict)
info = {"name":"PRIYA","age":25,"salary":150000.25,"address":"new york"}
print(info)
print(type(info))

{'name': 'PRIYA', 'age': 25, 'salary': 150000.25, 'address': 'new york'}
<class 'dict'>

In [11]:
#sets
data = {10,20,30,25,21}
info = {10,20,30,15,10,40,20,30}
print(data)
print(info)
print(type(data))
print(type(info))

{20, 21, 25, 10, 30}
{20, 40, 10, 30, 15}
<class 'set'>
<class 'set'>